@import "./styles/background.css";
@import "./styles/classes.css";
:root {
  --swiper-pagination-color: var(--secondary-color);
}

body {
  font-family: "Exo", sans-serif;
  color: var(--secondary-color);
  overflow: hidden;
  margin: 0%;
  padding: 0%;
}

.swiper-slide {
  height: 100vh;
}
.swiper-wrapper {
  height: 100vh;
}

.slider-container {
  max-width: 70vw;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.swiper-button-next {
  right: 20px !important;
}

.swiper-button-prev {
  left: 20px !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #e39a0a;
}

.button-prev {
  fill: var(--primary-bg-color);
}

.swiper-button-next svg {
  width: 10px;
}

.swiper-button-prev svg {
  width: 10px;
}


@media (max-width: 1200px) {
  .swiper-button-next,
  .swiper-button-prev {
    top: var(--swiper-navigation-top-offset, 95%) !important;
  }
}

