#dynamic-pagination-swiper {
    width: 100%;
    height: 600px;
    border-radius: 10px;
}

#dynamic-pagination-swiper .swiper-wrapper span {
    font-size: 4rem;
    height: 600px;
    width: 100%;
}
